<% layout('layout') -%>
<% if (message) { %>
<p><%= message %></p>
<% } %>
<p>Follow the link below to confirm registration</p>
<a href="http://localhost:3000/confirm/0abc12df345">http://localhost:3000/confirm/0abc12df345</a>
